<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3"  style="background-color: #fff">
  <a class="navbar-brand" href="/dashboard">TECHstile</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mb-0">
      <li class="nav-item " *ngIf="user_id">
        <a class="nav-link" href="/manager" >Manager</a>
      </li>
      <li class="nav-item" *ngIf="manager_id">
        <a class="nav-link" href="/addmachin">Machine</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <span class="me-2" style="color: #978da8">Welcome, </span>
      <div class="dropdown">
        <span class="dropdown-button">
          {{ loggedInUserName || "Guest" }}
        </span>
        <ul class="dropdown-content">
          <a (click)="logout()" class="dropdown-item">Logout</a>
        </ul>
      </div>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>