<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3" >
  <a class="navbar-brand" href="/dashboard">TECHstile</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="user_id">
        <a class="nav-link" href="/manager">Manager</a>
      </li>
      <li class="nav-item" *ngIf="manager_id">
        <a class="nav-link" href="/addmachin">Machine</a>
      </li>
      <li class="nav-item"  *ngIf="user_id || manager_id">
        <a class="nav-link" href="/invoice">Invoice</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Invoice
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Add Invoice</a>
          <a class="dropdown-item" href="/">View Invoice</a>
        </div>
      </li> -->
    </ul>

    <div class="mx-auto">
    </div>
    
    <form class="form-inline my-2 my-lg-0">
      <div style="color: #978da8;padding-right: 2px;padding-left: 2px; margin-right: 15px;border-right: solid 1px;border-left: solid 1px;">{{ currentTime | date: 'mediumTime' }}</div>
      <span class="me-2 pr-1" style="color: #978da8">Welcome,</span>
      <div class="dropdown">
        <span class="dropdown-button">
          {{ loggedInUserName || "Guest" }}
        </span>
        <ul class="dropdown-content">
          <a (click)="logout()" class="dropdown-item">Logout</a>
        </ul>
      </div>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
