<div style="border-bottom: #978da8 solid 1px; display: flex">
  <p  *ngIf="manager_id"
    class="mb-0 pr-1 cursor"
    (click)="onof(true)"
    [ngStyle]="{ color: toggle ? 'black' : '#978da8' }"
  >
    Add Invoice
  </p>
  <p
    class="pl-1 mb-0 cursor"
    (click)="onof(false);fetchInvoices(manager_id ? manager_id : master_id)"
    [ngStyle]="{ color: !toggle ? 'black' : '#978da8' }"
  >
    View invoice
  </p>
</div>
<div class="container-fluid mt-3" *ngIf="toggle">
  <form #invoiceForm="ngForm">
    <div class="container-fluid pt-2 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <div class="card border-secondary">
            <div class="card-body">
              <h4 class="card-title">Customer Details</h4>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      id="name"
                      [ngClass]="{
                        'is-invalid': invoiceForm.submitted && CustName.invalid
                      }"
                      [(ngModel)]="invoice.customerName"
                      #CustName="ngModel"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="address">Address</label>
                    <textarea
                      class="form-control"
                      name="address"
                      id="address"
                      row="3"
                      [ngClass]="{
                        'is-invalid': invoiceForm.submitted && Address.invalid
                      }"
                      [(ngModel)]="invoice.address"
                      #Address="ngModel"
                      required
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="email">Email ID</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      [(ngModel)]="invoice.email"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="contactNo">Contact No.</label>
                    <input
                      type="number"
                      class="form-control"
                      name="contactNo"
                      id="contactNo"
                      [ngClass]="{
                        'is-invalid': invoiceForm.submitted && ContactNo.invalid
                      }"
                      [(ngModel)]="invoice.contactNo"
                      #ContactNo="ngModel"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-secondary mt-2">
            <div class="card-body">
              <h4 class="card-title d-flex justify-content-between">
                Order Details
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="addProduct()"
                >
                  +
                </button>
              </h4>
              <div class="row">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="25%">Product</th>
                      <th width="25%">Price</th>
                      <th width="25%">Quantity</th>
                      <th width="25%">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of invoice.products; let i = index">
                      <td scope="row">
                        <input
                          type="text"
                          class="form-control"
                          name="productName{{ i }}"
                          [ngClass]="{
                            'is-invalid':
                              invoiceForm.submitted && ProductName.invalid
                          }"
                          id="productName"
                          [(ngModel)]="product.name"
                          #ProductName="ngModel"
                          required
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          name="price{{ i }}"
                          id="price"
                          [ngClass]="{
                            'is-invalid':
                              invoiceForm.submitted && ProductPrice.invalid
                          }"
                          [(ngModel)]="product.price"
                          #ProductPrice="ngModel"
                          required
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          name="quantity{{ i }}"
                          id="quantity"
                          [ngClass]="{
                            'is-invalid':
                              invoiceForm.submitted && ProductQty.invalid
                          }"
                          [(ngModel)]="product.qty"
                          #ProductQty="ngModel"
                          required
                        />
                      </td>
                      <td>
                        {{ product.price * product.qty || "" }}
                      </td>
                      <td *ngIf="i > 0">
                        <button type="button" class="btn btn-danger" (click)="deleteProduct(i)">
                          Delete
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card border-secondary mt-2">
            <div class="card-body">
              <h4 class="card-title">Additional Details</h4>
              <div class="form-group">
                <textarea
                  class="form-control"
                  name="additionalDetails"
                  rows="3"
                  [(ngModel)]="invoice.additionalDetails"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="container-fluid pt-2 mb-5 d-flex justify-content-end">
            <button type="button" class="btn btn-primary"  (click)="invoiceForm.valid ? generatePDF() : ''">Generate Invoice</button>
          </div>
        </div>
      </div>
    </div>
    
  </form>
</div>
<div class="container mt-5   card"  *ngIf="!toggle">
  <h1>Invoices</h1>
  <div style="height: 300px; overflow-y: scroll;">
  <table class="table  table-bordered" >
    <thead  style="position: sticky; top: 0;">
      <tr>
        <th>SrNo</th>
        <th>Customer Name</th>
        <th>Contact Number</th>
        <th>Bill Number</th>
        <th style=" text-align: center;">View</th>
        <th style=" text-align: center;">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ invoice.data.customerName }}</td>
        <td>{{ invoice.data.contactNo }}</td>
        <td >{{ invoice.data.billNumber }}</td>
        <td style=" text-align: center;" >
          <i
            class="fa fa-file"
            style="cursor: pointer"
            (click)="viewInvoice(invoice.data)"
          ></i>
        </td>
        <td style=" text-align: center;">
        <i
        class="fa fa-trash"
        style="cursor: pointer;color:red"
        (click)="deleteInvoce(invoice)"
      ></i>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
