@media print {
  body {
    zoom: 70%;
  }

  tr.page-break {
    page-break-before: always;
    page-break-inside: avoid;
  }

  th.page-break {
    page-break-before: always;
    page-break-inside: avoid;
  }

  td.page-break {
    page-break-before: always;
    page-break-inside: avoid;
  }
}

p {
  color: black;
}

thead,
th {
  background-color: #deddec;
  border-color: #e6ecf5;
  
}

td {
  border-color: #e6ecf5;
}

/* Style for scrollbar */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px; /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; /* color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the handle on hover */
}
