@import '~@fortawesome/fontawesome-free/css/all.css';


body {
    font-family: Lato,sans-serif !important;
    background: #f6f7fb;
    border-color: #e6ecf5 !important;
}
p{
    color:#978da8;
}
.cursor{
    cursor: pointer;
}
